@import "variables";

body {
  color: $color-1;
  background: $color-2;
  font-family: $font-1;
  padding-bottom: 5em;
  margin: 0;
}

.list {
  list-style: none;
}
.table {

  &.row {
    display: flex;
    flex-Direction: row;
    justify-Content: space-between;
    font-size: 1.5em;
    color: #fff;

    .td {
      float: left;
    }
  }
}

.list {
  margin: 0 4em;

  ul {
    padding: 0;
  }
}
.channel-row {
  display: flex;
  flex-Direction: row;
  justify-Content: space-between;
  font-size: 1.5em;
  color: $color-1;
  list-style: none;

  padding: .5em 0;
  border-bottom: 1px solid #dadada;

  .td {
    font-size: .7em;

    &.passed {
      color: $color-5;
    }
    &.failed {
      color: $color-4;
    }

  }
}

.agenda-block {
  display: flex;
  flex-Direction: row;
  justify-Content: space-between;
  font-size: 2em;
  margin: 2em;

  .passed {
    color: $color-5;
  }

  .failed {
    color: $color-4;
  }
}

.code-freeze {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #4d575f;
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.pie-chart-container {
  width: 15em;
  margin: 0 auto;
  margin-top: -2em;
}
